*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;;
}



/* header section css */

.header-section{
    background-color: beige;
}

.header-container{
    padding: 10px 20px;
}

.header-container nav{
    display: flex;
    justify-content: space-between;
}

.header-container ul{
    display: flex;
}

.header-container h2{
    margin-left: 20px;
}

.header-container ul li{
    list-style: none;
    margin: 10px 20px;
}

.header-container ul li a{
    text-decoration: none;
    color: black;
    position: relative;
}

.header-container ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: brown;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}

.header-container ul li a:hover::after{
    width: 100%;
}


/* Intro Section css */

.Intro-section{
    display: flex;
    height: 70vh;
    background-color: #977722a1;
}

.Intro-section .intro-content{
    width: 60%;
    padding: 125px 37px;
}

.intro-content h3{
    font-size: 17px;
}

.intro-content h2{
    font-size: 38px;
    display: inline-block;
    width: 360px;
}

.intro-Image{
    width: 40%;
}

.Intro-section img{
    width: 300px;
    margin: auto;
    display: block;
    margin-top: 95px;
    border-radius: 10px;
}



